@font-face {
    font-family: 'digitalFont';
    src: url('ds_digital/DS-DIGI.TTF');
}

@font-face {
    font-family: 'topsecret';
    src: url('fonts/Top_Secret.ttf');
}

@font-face {
    font-family: 'counterstrike';
    /*src: url('fonts/Top_Secret.ttf');*/
    src: url('fonts/cs_bold.ttf');
}

body {
    background-color: black;
    text-align: center;
    /*background-image: url('kepek/mount-erebus-cockpit.jpg');*/
    background-position: center center;
    background-size: cover;
}

div#ukmap {
    position: absolute;
    left: 0;
    width: 600px;
    height: 97%;
    display: inline-block;
}

img#ukimage {
    width: 100%;
}

div.city {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px white solid;
    border-radius: 50%;
    color:cyan;
    font-size: 20px;
}

div.city:hover {
   background-color: yellow;
   /*outline: 10px solid blue;*/
   box-shadow: 0 0 10pt 8pt blue;
}

img.hitler {
    height: 40px;
    width: 40px;
    position: absolute;
}

img.peace {
    height: 36px;
    width: 36px;
    position: absolute;
}

div#rightside {
    display: inline-block;
    position: absolute;
    left: 60%;
    width: 40%;
    height: 97%;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,0,0,0.5);
    z-index: 2;
}

div.feedback {
    position: fixed;
    top: 150px;
    left: 30%;
    padding: 50px;
    display: none;
    background-color: black;
    z-index: 4;
    color: yellow;
    font-size: 50px;
    font-family: 'counterstrike';
}

#triestext, #savedpeopletext, #gameovertext, #resulttext {
    font-size: 30px;
    color: white;
    margin: 50px 0px;
    font-family: 'topsecret';
}

#triestext, #savedpeopletext {
    text-align: left;
}

#triesleft, #savedpeople, #resultsavedpeople {
    font-size: 80px;
    color: white;
    font-family: 'counterstrike';
}

#triesleft, #savedpeople {
    padding-right: 100px;
}

#sendemailbutton {
    color: white;
    font-family: 'counterstrike';
    background-color: black;
    font-size: 30px;
}

div#countdown {
    font-family: 'digitalFont';
    color: red;
    text-shadow: 0 0 50px red;

    /*position: absolute;
    top: 50px;*/
    z-index: 0;

    height: 200px;
    text-align: left;
    font-size: 200px;

    margin: auto;
    margin-top: 50px;
    padding: auto;
}

div#suits {
    position: absolute;
    top: 250px;
    width: 98%;
}

div#infoText {
    font-family: 'Courier New';
    color: white;
}

div#admin {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100px;
}

div#admin input{
    color: white;
    background-color: #000;
    border: 0px;
}

div.endScreen {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: black;

    text-transform: uppercase;
    text-align: center;
    font-family: 'Times New Roman';
    color: white;
    text-shadow: 0 0 50px white;
}

div#winScreen {
    top: 380px;
    height: 250px;
    font-size: 150px;
}

div#loseScreen {
    top: 0;
    height: 250px;
    font-size: 100px;
}

div.endScreen p {
    position: relative;
    padding: 0;
    margin: 0;
}

div#winScreen p {
    top: 100px;
}

div#loseScreen p {
    top: 90px;
}